@{
    ViewData["Title"] = "Movies";
}

<h2>Movies</h2>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Genre</th>
            <th scope="col">ReleaseDate</th>
            <th scope="col">Price</th>

        </tr>
    </thead>
    <tbody>


        <tr>
            <th><input type="text" disabled></th>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
        </tr>


    </tbody>
</table>
